*~
**/*~
CloudFormation-MyTemplates/JSON
.DS_Store
**/.DS_Store
.idea
*.iml
AWSCloudFormation-MyTemplates/JSON
AWSCloudFormation-MyTemplates/JSON/*.json
AWSCloudFormation-MyTemplates/JSON/*BACKUP
**/*BACKUP
**/*.json
AWSCFN.templates-pieces/Conditions full-listing.yaml
**/testExclamation.yaml
**/AutoGen.properties
myjobs/2layer-ex-1private1public
myjobs/2layerExisting.2ndTime
2layerExisting-2ndTime
myjobs/stackset-sample.yaml
